* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: rgb(224, 207, 193);
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.myntra_home {
    height: 40px;
    width: auto;
    display: block;
}

.logo_container {
    height: 40px;
    margin-left: 2%;
}

.nav_bar {
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
}

.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 31px 0px;
   /* border-bottom: 5px solid rgb(250, 250, 250); */
}
.nav_bar a:hover{
    border-bottom: 2px solid brown;
}

.nav_bar a sup {
    color: rgb(243, 41, 41);
    font-size: 10px;
}

.search_bar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;

}

.search_input {
    color: #699e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0px;
    border-radius: 0px 5px 5px 0px;
}

.search_icon {
    height: 20px;
    padding: 10px;
    box-sizing: content-box;
    background-color: #f5f5f6;
    border-radius: 6px 0px 0px 5px;

}
.action_icon{
    font-weight: 300;
}
.action_bar{
display: flex;
min-width: 200px;
justify-content: space-evenly;
}
.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-resolution: 20px;
    
}
/* banner image */
.banner_container{
    margin: 30px 0px;
}
.banner_image{
    width: 100%;
}
.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 30px 0px 10px 8px; /* No left margin */
  font-weight: 700;
  text-align: left; /* Force left text alignment */
  width: 100%;      /* Occupy full width */
}
.category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.sale_item{
    width: 200px;

}
.footer_container {
  padding: 30px 0px 40px 0px;
  background: #FAFBFC;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer_column {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.footer_column h3 {
  color: #282c3f;
  font-size: 14px;
  margin-bottom: 25px;
}

.footer_column a {
  color: #696b79;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}

.footer_column a:hover {
  color: #111;
  text-decoration: underline;
}

hr {
  margin: 20px 0;
  border: 0.5px solid #ccc;
}

.copyright {
  color: #94969f;
  text-align: center;
  padding: 15px 40px;
  font-size: 13px;
}
